@import url('./FakeContent.css');
@import url('./Canvas.css');
@import url('./SVG_TEST.css');
@import url('http://fonts.cdnfonts.com/css/candela');
@import url('./Section1_Intro.css');
@import url('./Section2_PinkDrink.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body{
  font-family: 'Candela Book', sans-serif;
  font-family: 'Candela Bold', sans-serif;
  background-image: url('../Assets/images/texture.jpg');
}

.plus{
  width: 90px;
  position: fixed;
  top: 40px;
  left: 100px;
}
.div__spinner{
  position: fixed;
  bottom: 40px;
  right: 80px;
}

.p_in_spinner{
  width: 40px;
  position: fixed;
  bottom: 30px;
  right: 25px;
}

::-moz-selection{
  color: rgb(255, 145, 163);
  background-color: transparent;}
::selection{
  color: rgb(255, 145, 163);
  background-color: transparent;
}
